old_code
*.npy
**/*.pyc
*/*/*.pyc
.vscode/*
*.out
*.h5
*backup*
*.pkl
*checkpoint*
*.png
**/*.ipynb_checkpoints/
*.pyc
**/*hello
**/*bak
**/*out*
*.npz
**/*npc
**/*data*
**/*.pdf
*scratch*
*.swp
!*test_data*
!test_data/*.npz
*DS_Store
*_local
*.txt
